<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dmartcharacterapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dmartcharacterapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dmartcharacterapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dmartcharacterapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dmartcharacterapiauth.database.windows.net,1433;Initial Catalog=dmartcharacterapi_db;User ID=dmart@dmartcharacterapiauth;Password=A7hy6$#jk1lkiWERt8" Name="Data Source=tcp:dmartcharacterapiauth.database.windows.net,1433;Initial Catalog=dmartcharacterapi_db;User Id=dmart@dmartcharacterapiauth;Password=A7hy6$#jk1lkiWERt8" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DungeonMart.Characters.API.DAL.AuthContext, DungeonMart.Characters.API" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dmartcharacterapiauth.database.windows.net,1433;Initial Catalog=dmartcharacterapi_db;User Id=dmart@dmartcharacterapiauth;Password=A7hy6$#jk1lkiWERt8</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>