<h1>Feats</h1>

<div>
    Search: <input ng-model="searchStr" />
</div>

<table id="featsTable" class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Multiple</th>
            <th>Stack</th>
            <th>Choice</th>
            <th>Prerequisite</th>
            <th>Benefit</th>
            <th>Normal</th>
            <th>Special</th>
            <th>Full Text</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="feat in feats | filter:searchStr">
            <td>{{feat.id}}</td>
            <td>{{feat.name}}</td>
            <td>{{feat.featType}}</td>
            <td>{{feat.multiple}}</td>
            <td>{{feat.stack}}</td>
            <td>{{feat.choice}}</td>
            <td>{{feat.prerequisite}}</td>
            <td><span tooltip-html-unsafe="{{feat.benefit}}" tooltip-placement="left">{{feat.benefit | limitTo : 50}}</span></td>
            <td>{{feat.normal}}</td>
            <td>{{feat.special}}</td>
            <td><span tooltip-html-unsafe="{{feat.fullText}}" tooltip-placement="left">{{feat.fullText | limitTo : 50}}</span></td>
            <td>{{feat.reference}}</td>
        </tr>
    </tbody>
</table>

<p class="text-center">
    <img src="/images/loading.gif" alt="Loading..." ng-show="loading" class="text-center" />
</p>
