<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DocDbLocation" value="https://dmart.documents.azure.com:443/" />
    <add key="DocDbKey" value="dNN+SNwgqpiXyNfG5Ez43nMofUKY7+3x2e4Gp6vPzxGMypCzoYRNqEMm2AGSggfZqiiAWk4qSHGYhrkCJs9xvw==" />
    <add key="DocDbDatabaseId" value="dmart" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>