
@{
    ViewBag.Title = "Index";
}

 <!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Welcome to DungeonMart</h1>
    <p>
        This site will serve two main purposes. First, give people a place to edit and store characters.
        Second, have a searchable reference location for the game data and maybe some utilities for players and DMs.
    </p>
</div>