<div class="row">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-8">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Character ID</th>
					<th>Name</th>
					<th>System</th>
					<th>Shared</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="character in characters">
					<td>
						{{ character.characterID }}
					</td>
					<td>
						{{ character.characterName }}
					</td>
					<td>
						{{ character.system }}
					</td>
					<td>
						<input type="checkbox" data-ng-model="character.isShared" disabled="disabled">
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-2">
		&nbsp;
	</div>
</div>